################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookStore/BookStore/bin/Debug/net8.0
/BookStore/BookStore/obj
